[Desktop Entry]
Name=GtkHash
GenericName=Checksum Calculator
GenericName[en_GB]=Checksum Calculator
GenericName[es]=Calculadora de la suma de verificación
GenericName[lt]=Kontrolinės sumos skaičiuotuvas
GenericName[pt_BR]=Calculadora Checksum
GenericName[sv]=Kontrollsummeberäknare
Comment=Calculate message digests or checksums
Comment[en_GB]=Calculate message digests or checksums
Comment[es]=Calcular resúmenes de mensajes o sumas de verificación
Comment[lt]=Apskaičiuoti žinučių maišos reikšmes ar kontrolines sumas
Comment[pt_BR]=Calcular resumos de mensagens ou somas de verificação (checksums)
Keywords=hash;checksum;digest;md5;sha1;sha256;crc32;
TryExec=gtkhash
Exec=gtkhash %U
Icon=gtkhash
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Security;GTK;
NoDisplay=true
