[Desktop Entry]
BinaryPattern=kantiword;Kantiword
Exec=kantiword
GenericName=Installer for Kantiword Drag&Drop Icon
GenericName[de]=Installer für Kantiword Drag&Drop Icon
Icon=antiword
Name=Kantiword-Installer
Name[de]=Kantiword-Installer
StartupNotify=true
Terminal=true
Type=Application
NoDisplay=true
