[Desktop Entry]
Name[am]=መመልከቻውን ማዳኛ 
Name[ar]=حافظة الشاشة
Name[as]=স্ক্ৰীনছেভাৰ
Name[ast]=Curiapantalles
Name[be]=Ахоўнік экрану
Name[bg]=Предпазител на екрана
Name[bn]=স্ক্রিন-সেভার
Name[bn_IN]=স্ক্রিন-সেভার
Name[br]=Damanter skramm
Name[bs]=Screensaver
Name[ca]=Estalvi de pantalla
Name[ca@valencia]=Estalvi de pantalla
Name[cmn]=螢幕保護程式
Name[crh]=Ekran qoruyıcısı
Name[cs]=Šetřič obrazovky
Name[cy]=Arbedwr sgrin
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[dz]=གསལ་གཞི་ཉེན་སྲུང་།
Name[el]=Προστασία οθόνης
Name[en_AU]=Screensaver
Name[en_CA]=Screensaver
Name[en_GB]=Screensaver
Name[es]=Salvapantallas
Name[es_AR]=Protector de pantalla
Name[es_CO]=Protector de pantalla
Name[et]=Ekraanisäästja
Name[eu]=Pantaila-babeslea
Name[fa]=محافظ صفحهٔ نمایش
Name[fi]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[fr_CA]=Économiseur d'écran
Name[frp]=Sârvor d’ècran
Name[ga]=Spárálaí Scáileáin
Name[gl]=Protector de pantalla
Name[gu]=સ્ક્રીનસેવર
Name[he]=שומר מסך
Name[hi]=स्क्रीनसेवर
Name[hr]=Zaslonski čuvar
Name[hu]=Képernyővédő
Name[hy]=Էկրանապահ
Name[id]=Screensaver
Name[is]=Skjáhvíla
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバーのテーマ
Name[ka]=ეკრანმზოგი
Name[kk]=Экран қорғауышы
Name[kn]=ಸ್ಕ್ರೀನ್‌ಸೇವರ್
Name[ko]=화면 보호기
Name[ku]=Dîmenderparêz
Name[ku_IQ]=پەردەپارێز
Name[ky]=Экран сактагыч
Name[lt]=Ekrano užsklanda
Name[lv]=Ekrānsaudzētājs
Name[mai]=स्क्रीनसेवर
Name[mg]=Sary mitsitsy
Name[mk]=Чувар на екранот
Name[ml]=സ്ക്രീന്‍സേവര്‍
Name[mn]=Дэлгэц гамнагч
Name[mr]=स्क्रीनसेवर
Name[ms]=Penyelamat skrin
Name[nb]=Skjermsparer
Name[nds]=Billschirmschoner
Name[ne]=स्क्रिनसेभर
Name[nl]=Schermbeveiliging
Name[nn]=Skjermsparar
Name[oc]=Estalviador d'ecran
Name[or]=ପରଦା ସଂରକ୍ଷକ
Name[pa]=ਸਕਰੀਨ-ਸੇਵਰ
Name[pl]=Wygaszacz ekranu
Name[ps]=پرده ساتونکی
Name[pt]=Protetor de ecrã
Name[pt_BR]=Proteção de Tela
Name[ro]=Protector ecran
Name[ru]=Хранитель экрана
Name[si]=තිරආවරකය
Name[sk]=Šetrič obrazovky
Name[sl]=Ohranjevalnik zaslona
Name[sq]=Ruajtës ekrani
Name[sr]=Чувар екрана
Name[sr@latin]=Čuvar ekrana
Name[sv]=Skärmsläckare
Name[ta]=திரை சேமிப்பி
Name[te]=తెరకాపరి
Name[th]=โปรแกรมรักษาหน้าจอ
Name[tr]=Ekran koruyucu
Name[uk]=Зберігач екрану
Name[ur]=سکرین سیور
Name[uz]=Ekran Saqlovchi
Name[vi]=Bộ bảo vệ màn hình
Name[zh_CN]=屏幕保护程序
Name[zh_HK]=螢幕保護程式
Name[zh_TW]=螢幕保護程式
Name=Screensaver
Comment[am]=የ መመልከቻው ማዳኛ ምርጫዎች ማሰናጃ 
Comment[ar]=اضبط تفضيلات حافظة الشاشة
Comment[as]=আপোনাৰ স্ক্ৰীনছেভাৰেৰ পছন্দসমূহ নিৰ্ধাৰণ কৰক
Comment[ast]=Afite les preferencies pal curiapantalles
Comment[be]=Вызначэнне настáўленняў ахоўніка экрану
Comment[bg]=Настройване на предпазителя на екрана
Comment[bn]=স্ক্রিন-সেভারের পছন্দসমূহ নির্ধারণ করুন
Comment[bn_IN]=স্ক্রিন-সেভার সংক্রান্ত পছন্দ নির্ধারণ করুন
Comment[br]=Arventenniñ gwellvezioù ho tamanter skramm
Comment[bs]=Postavi opcije za screensaver
Comment[ca]=Establiu les preferències de l'estalvi de pantalla
Comment[ca@valencia]=Establiu les preferències de l'estalvi de pantalla
Comment[cmn]=設定螢幕保護程式
Comment[crh]=Ekran qoruyıcısı tercihleriñizni tesbit etiñiz
Comment[cs]=Nastaví šetřič obrazovky
Comment[cy]=Gosod eich hoffterau arbedwr sgrin
Comment[da]=Sæt dine indstillinger for pauseskærm
Comment[de]=Einstellungen des Bildschirmschoners ändern
Comment[dz]=ཁྱོད་རའི་གསལ་གཞི་ཉེནསྲུང་གི་དགའ་གདམ་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Ρύθμιση των προτιμήσεων σας για την προστασία οθόνης
Comment[en_AU]=Set your screensaver preferences
Comment[en_CA]=Set your screensaver preferences
Comment[en_GB]=Set your screensaver preferences
Comment[es]=Configure el salvapantallas
Comment[et]=Ekraanisäästja eelistuste seadmine
Comment[eu]=Ezarri pantaila-babeslearen hobespenak
Comment[fa]=ترجیحات محافظ صفحهٔ نمایش خود را تنظیم کنید
Comment[fi]=Aseta näytönsäästäjän asetukset
Comment[fr]=Définir vos préférences pour l'économiseur d'écran
Comment[frp]=Ètablir lo sârvor d’ècran
Comment[ga]=Socraigh do chuid sainroghanna spárálaí scáileáin
Comment[gl]=Defina as súas preferencias para o protector de pantalla
Comment[gu]=તમારી સ્ક્રીનસેવર પસંદગીઓ સુયોજિત કરો
Comment[he]=קבע את העדפות שומר המסך
Comment[hi]=अपना स्क्रीनसेवर पसंद सेट करें
Comment[hr]=Postavi vlastite prilagodbe zaslonskog čuvara
Comment[hu]=A képernyővédő tulajdonságainak beállítása
Comment[hy]=Սահմանել Ձեր Էկրանապահի նախընտրությունները
Comment[id]=Tentukan setingan screensaver Anda
Comment[is]=Stilltu valmöguleika fyrir skjávhvíluna
Comment[it]=Imposta le preferenze del salvaschermo
Comment[ja]=お使いのスクリーンセーバーを設定します
Comment[ka]=ეკრანმზოგის პარამეტრების მითითება
Comment[kk]=Экран қорғауышы баптауларын орнатыңыз
Comment[kn]=ನಿಮ್ಮ ಸ್ಕ್ರೀನ್‌ಸೇವರ್ ಆದ್ಯತೆಗಳನ್ನು ಅಣಿಗೊಳಿಸಿ
Comment[ko]=화면 보호기를 설정합니다
Comment[ku]=Vebijêrkên dîmenderparezê mîheng bike
Comment[ku_IQ]=دانانی هەڵبژاردەکانی خۆت بۆ پەردەپارێز
Comment[lt]=Nurodykite ekrano užsklandos nustatymus
Comment[lv]=Iestatīt sava ekrānsaudzētāja iestatījumus
Comment[mai]=अपन स्क्रीनसेवर वरीयता सेट करू
Comment[mg]=Mamaritra ny safidy manokan'ny sary mitsitsy
Comment[mk]=Поставете ги преференциите за чуварот на екранот
Comment[ml]=നിങ്ങളുടെ സ്ക്രീന്‍സേവറിന്റെ മുന്‍ഗണനകള്‍ സജ്ജീകരിയ്ക്കുക
Comment[mn]=Дэлгэц гамнагчийн тохиргоонуудыг байрлуул.
Comment[mr]=तुमची स्क्रीनसेवर प्राधान्यता निश्चित करा
Comment[ms]=Tetapkan keutamaan penyelamat skrin anda
Comment[nb]=Sett brukervalg for skjermspareren
Comment[nds]=Billschirmschonerinstellens setten
Comment[ne]=स्क्रिनसेभर प्राथमिकता सेट गर्नुहोस्
Comment[nl]=Voorkeuren voor de schermbeveiliging instellen
Comment[nn]=Set brukarval for skjermspararen
Comment[oc]=Definir vòstras preferéncias per l'estalviador d'ecran
Comment[or]=ଆପଣଙ୍କର ପରଦା ସଂରକ୍ଷକ ପସନ୍ଦଗୁଡିକୁ ସ୍ଥିର କରନ୍ତୁ
Comment[pa]=ਸਕਰੀਨ-ਸੇਵਰ ਲਈ ਆਪਣੀ ਪਸੰਦ ਦਿਓ
Comment[pl]=Preferencje wygaszacza ekranu
Comment[ps]=د خپل پرده ساتونکي غوراوي وټاکئ
Comment[pt]=Defina as suas preferências de proteção de ecrã
Comment[pt_BR]=Defina suas preferências de proteção de tela
Comment[ro]=Alegeți preferințele pentru protector ecran
Comment[ru]=Параметры хранителя экрана
Comment[sc]=Sèbera sa preferèntzias de su sarbaschermu
Comment[si]=ඔබගේ තිරආවරක අභිප්‍රේත සකසන්න
Comment[sk]=Nastaviť váš šetrič obrazovky
Comment[sl]=Nastavitve ohranjevalnika zaslona
Comment[sq]=Përcakto preferimet e ruajtësit tuaj të ekranit
Comment[sr]=Подесите поставке чувара екрана
Comment[sr@latin]=Sopstvene postavke čuvara ekrana
Comment[sv]=Ställ in dina skärmsläckarinställningar
Comment[ta]=உங்கள் திரை சேமிப்பி முன்னுரிமைகளை அமைக்கவும்
Comment[te]=మీ  తెరకాపరి యొక్క అభీష్టాలు అమర్చుకొను
Comment[th]=ปรับแต่งโปรแกรมรักษาหน้าจอของคุณ
Comment[tr]=Ekran koruyucunuzun tercihlerini belirtin
Comment[uk]=Встановити параметри зберігача екрану
Comment[ur]=اپنے سکرین سیور کی ترجیحات مُتعین کریں
Comment[uz]=Ekran Saqlovchi Xususiyatlarini belgilang
Comment[vi]=Lập các tùy thích cho trình bảo vệ màn hình
Comment[zh_CN]=设定您的屏幕保护程序首选项
Comment[zh_HK]=設定螢幕保護程式
Comment[zh_TW]=設定螢幕保護程式
Comment=Set your screensaver preferences
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/usr/share/icons/Humanity/apps/48/preferences-desktop-screensaver.svg
TryExec=mate-screensaver-preferences
Exec=mate-screensaver-preferences
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;estalvi;pantalla;preferències;
Keywords[cs]=MATE;spořič obrazovky;šetřič;předvolby;
Keywords[da]=MATE;screensaver;preferences;pauseskærm;præferencer;
Keywords[es]=MATE;salvapantallas;preferencias;
Keywords[fr]=MATE;économiseur d'écran;préférences;
Keywords[gl]=MATE;protector de pantalla;preferencias;
Keywords[id]=MATE;screensaver;preferensi;
Keywords[it]=MATE;screensaver;preferences;
Keywords[ja]=MATE;screensaver;preferences;
Keywords[lt]=MATE;ekrano užsklanda;nustatymai;
Keywords[ms]=MATE;penyelamatskrin;keutamaan
Keywords[nb]=MATE;skjermsparer;innstillinger;
Keywords[nds]=MATE;Billschirmschoner;Instellens;
Keywords[nl]=MATE;schermbeveiliging;voorkeuren;
Keywords[oc]=MATE;screensaver;preferences;ecran;estalviador;estalviaire;preferéncias;
Keywords[pl]=MATE;wygaszacz;ekran;preferencje;
Keywords[pt]=MATE;proteção de ecrã;preferências;
Keywords[ru]=MATE;скринсейвер;хранитель;настройки;
Keywords[sr]=Мејт;чувар екрана;поставке;
Keywords[sv]=MATE;skärmsläckare;inställningar;
Keywords[uk]=MATE;зберігач екрану;уподобання;
Keywords[zh_CN]=MATE;screensaver;preferences;
Keywords[zh_TW]=MATE;screensaver;preferences;
Keywords=MATE;screensaver;preferences;
OnlyShowIn=MATE;
StartupNotify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-screensaver
X-MATE-Bugzilla-Component=general
