[Desktop Entry]
Name[ca]=Gestor de l'hora i la data
Name[cs]=Správce času a data
Name[da]=Håndtering af dato og klokkeslæt
Name[de]=Zeit- und Datumsverwaltung
Name[es]=Gestor de la hora y la fecha
Name[gl]=Xestor de hora e data
Name[he]=מנהל שעה ותאריך
Name[id]=Manajer Waktu dan Tanggal
Name[it]=Gestore Ora e data
Name[lt]=Laiko ir datos tvarkytuvė
Name[ms]=Pengurus Waktu Dan Tarikh
Name[nb]=Behandling av tid og dato
Name[nl]=Tijd- en datumbeheerder
Name[pl]=Menedżer daty i czasu
Name[uk]=Упорядник часу та дати
Name[zh_CN]=时间和日期管理
Name[zh_TW]=時間與日期管理程式
Name=Time And Date Manager
Comment[ca]=Configuració de l’hora i la data del sistema
Comment[cs]=Nastavení času a data místního systému
Comment[da]=Angivelse af dato og klokkeslæt for det lokale system
Comment[es]=Configuración de la hora y la fecha del sistema
Comment[gl]=Axuste da hora e da data do sistema local
Comment[he]=הגדרת השעה והתאריך של המערכת המקומית
Comment[id]=Menata waktu dan tanggal sistem lokal
Comment[it]=Impostazione di data e ora del sistema
Comment[lt]=Vietinės sistemos laiko ir datos nustatymas
Comment[ms]=Tetapkan waktu dan tarikh bagi sistem setempat
Comment[nb]=Still inn tid og dato for det lokale systemet
Comment[nl]=De tijd en datum van uw systeem instellen
Comment[pl]=Ustawianie czasu i daty lokalnego systemu
Comment[uk]=Встановлення часу та дати локальної системи
Comment[zh_CN]=设置本地系统的时间和日期
Comment[zh_TW]=設定本機系統的時間與日期
Comment=Setting the time and date of the local system
Terminal=false
Type=Application
Exec=mate-time-admin
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=preferences-system-time
Icon[cs]=preferences-system-time
Icon[da]=preferences-system-time
Icon[es]=preferences-system-time
Icon[gl]=preferences-system-time
Icon[id]=preferences-system-time
Icon[it]=preferences-system-time
Icon[lt]=preferences-system-time
Icon[ms]=preferences-system-time
Icon[nb]=preferences-system-time
Icon[nl]=preferences-system-time
Icon[uk]=preferences-system-time
Icon[zh_TW]=preferences-system-time
Icon=preferences-system-time
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=mate-control-center;MATE;rellotge;data;hora;preferències;
Keywords[cs]=mate-control-center;ovládací centrum;MATE;hodiny;datum;čas;předvolby;
Keywords[da]=mate-control-center;MATE;clock;date;time;preferences;
Keywords[es]=control;centro;MATE;reloj;fecha;hora;preferencias;
Keywords[gl]=centro-control-mate;MATE;reloxo;data;hora;preferencias;
Keywords[id]=mate-control-center;MATE;jam;tanggal;waktu;preferensi;
Keywords[it]=mate-control-center;MATE;orologio;data;tempo;preferenze;
Keywords[ms]=mate-control-center;MATE;jam;tarikh;waktu;keutamaan;
Keywords[nb]=mate-control-center;MATE;klokke;dato;tid;innstillinger;
Keywords[nl]=mate-control-center;MATE;klok;datum;tijd;voorkeuren;
Keywords[uk]=mate-control-center;MATE;годинник; дата; час; уподобання;
Keywords[zh_TW]=mate-control-center;MATE;clock;date;time;preferences;
Keywords=mate-control-center;MATE;clock;date;time;preferences;
OnlyShowIn=MATE;
NoDisplay=true