[Desktop Entry]
Name=Create an autostart for Caja Dropbox
Comment=Creates an autostarts got Caja Dropbox if it is installed and an autostart is not missing.
Exec=caja-dropbox-autostart
Terminal=false
Type=Application
Icon=caja-dropbox
Categories=Network;FileTransfer;
StartupNotify=false
OnlyShowIn=MATE;
NoDisplay=true
