[Desktop Entry]
Name=Autostart Caja Dropbox
Comment=If Caja Dropbox is installed, make sure it autostarts.
Exec=caja-dropbox-autostart
Terminal=false
Type=Application
Icon=caja-dropbox
Categories=Network;FileTransfer;
StartupNotify=false
OnlyShowIn=MATE;
NoDisplay=true
