[Desktop Entry]
Name=Dock Reload
Comment=Reload the dock during session start-up to correctly align with panel struts
Icon=plank
Exec=/usr/lib/ubuntu-mate/dock-replace
Terminal=false
Type=Application
StartupNotify=false
Categories=
OnlyShowIn=MATE;
NoDisplay=true
