[Desktop Entry]
Name=Disable geoclue demo
Comment=Disabled geoclue demo to save system resources
Icon=mark-location-symbolic
Exec=/usr/libexec/geoclue-2.0/demos/agent
Terminal=false
Type=Application
StartupNotify=false
Categories=
NotShowIn=GNOME;MATE;
NoDisplay=true
