[Desktop Entry]
Name=Plank Replace
Comment=If Plank is enabled, replace it during session start-up to correctly align with panel struts
Exec=plank-replace
Terminal=false
Type=Application
Icon=plank
Categories=Utility;
StartupNotify=false
OnlyShowIn=MATE;
NoDisplay=true
