[Desktop Entry]
Name=Plank Replace
Comment=Replace during session start-up to correctly align with panel struts
Icon=plank
Exec=plank-replace
Terminal=false
Type=Application
StartupNotify=false
Categories=
NoDisplay=true
OnlyShowIn=MATE;
