[Desktop Entry]
Name=Disable printer applet
Comment=Disabled so it does not conflict with the printer indicator.
Icon=printer
Exec=system-config-printer-applet
Terminal=false
Type=Application
StartupNotify=false
Categories=
NotShowIn=KDE;GNOME;Cinnamon;LXDE;Unity;MATE;
