[Desktop Entry]
Name=Tilda
Exec=/usr/lib/ubuntu-mate/ubuntu-mate-tilda
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
