[Desktop Entry]
Version=1.0
Name=Welcome
Comment=Ubuntu MATE Welcome autostart
Exec=/snap/bin/ubuntu-mate-welcome --autostart
Terminal=false
Type=Application
StartupNotify=false
Categories=
OnlyShowIn=MATE;
NoDisplay=true
X-MATE-Autostart-Delay=30
