[Desktop Entry]
Type=Application
Exec=/usr/lib/ubuntu-mate/ubuntu-mate-settings-overlay
Terminal=false
X-MATE-Autostart-enabled=true
X-MATE-Autostart-Phase=Initialization
Name[en_GB]=Settings Overlay
Name=Settings Overlay
Comment[en_GB]=Ubuntu MATE Settings Overlay
Comment=Ubuntu MATE Settings Overlay
NoDisplay=true
