[Desktop Entry]
Version=1.0
Name=Install Ubuntu MATE
Comment=Install Ubuntu MATE
Exec=/snap/bin/ubuntu-desktop-bootstrap --try-or-install
Terminal=false
Type=Application
StartupNotify=false
Categories=
OnlyShowIn=MATE;
NoDisplay=true
